*, *::before, *::after {
    box-sizing: border-box
  }
body {
    width: 100% !important;
    height: 100hv;
    background-image: url("https://images.unsplash.com/photo-1576565366574-2d13807b7684?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: 85em 39em;
    background-repeat: no-repeat;
}

.encabezado {
    margin-top: 0%;
    margin-bottom: 0;
    margin-left: 0; 
    display: flex;
    background: #fff;
    width: 84em;
}

.title {
    padding-left: .3em;
    font-family: lato;
    font-size: 2.3em;
    color: rgb(0,0,0);
}

.link {
    padding-right: .3em;
    font-family: "Open Sans";
    color: rgb(30, 31, 31);
    text-decoration: none;
}

.link:hover {
    color: rgba(4, 100, 100, 0.534);
}

.nose {
    margin-top: 2.6em;
    padding-left: 53em;
    padding-bottom: 0;
}

.menu {
    list-style: none;
    display: flex;
    padding-top: .8em;
    width: 84em;
    height: 3em;
    background: rgb(189,125,7,.6);
}
.link2 {
    display: block;
    margin-left: 3em;
    padding-left: .5em .2em;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
} 

.item:hover {
    background: rgb(189,125,7,.2);
}

.cuadros {
    margin-top: 3em;
    margin-left: 15em;
    padding: 4em;
    display: flex;
    background: rgb(189,125,7,.6);
    background-size: 25em;
    position: absolute;
    min-height: 60px;
    font-size: 1em;
    font-family: lato;
    justify-content: center;
    align-items: center;
}
.vuelo {
    margin-left: 4em;
}